h3 {
    color: black;
}

.label {
    color: black;
}
.textfield label {
    color: black;
}
#outlined-adornment-amount {
    color: black;
}
.maincard {
    height: 230px;
}
.uploadProfile {
    justify-content: end;
}
